// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-container {
  height: 60%;
  width: 50%;
  border-radius: 25px;
  border: 2px solid black;
  position: absolute;
  top: 20%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
}
