// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.episodes, .episode-head, .episode-data {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.episodes {
  margin-top: 20px;
}

.episode-row:hover {background-color: #d7d7d7}

.episode-head {
  background-color: #27cc3c
}
